*{
	margin:0;
	padding:0;
}

#main{
	position: relative;
}
.box{
	/* 为了用js获取，所以不用margin */
	padding:15px 0 0 15px;
	float: left;
}
.pic{
	padding:10px;
	border:1px solid #ccc;
	border-radius: 5px;
	/* 阴影 */
	box-shadow: 0 0 5px #ccc;
}
.pic img{
	width:165px;
	height:auto;
}